:root {
	font-size: 1px;
}

body {
	font-size: 16rem;
    padding: 50rem 25rem;
}

$desktop: 1440px;
$mobile: 465px;

html {
	scroll-behavior: smooth;
	@media (max-width: 1440px) {
		scroll-behavior: smooth;
	}
	@media (max-width: 360px) {
		scroll-behavior: smooth;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	list-style: none;
	text-decoration: none;
	transition: .3s;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.container {
	max-width: 1390rem;
    margin: 0 auto;
    min-height: 450rem;
    display: flex;
    flex-wrap: wrap;
}

.hangman-container {
	background: aquamarine;
    width: 40%;
    display: grid;
    align-content: space-between;
    justify-content: center;
}

.hangman {
	position: relative;
    height: 385rem;

	&__gallows1 {
		width: 65rem;
		display: block;
		height: 5rem;
		background: black;
		transform: rotate(270deg);
		position: absolute;
		top: -3rem;
		left: 183rem;
		transform-origin: right;
	}
	&__gallows2 {
		width: 85rem;
		display: block;
		height: 5rem;
		background: black;
		transform: rotate(135deg);
		position: absolute;
		left: 60px;
		transform-origin: left;
	}
	&__gallows3 {
		width: 250rem;
		display: block;
		height: 5rem;
		background: black;
	}
	&__gallows4 {
		width: 383rem;
		display: block;
		height: 5rem;
		background: black;
		transform: rotate(270deg);
		position: absolute;
		bottom: 0;
		transform-origin: left;
	}
	&__gallows5 {
		width: 400rem;
		display: block;
		height: 5rem;
		position: absolute;
		background: black;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	&__Buster1 {
		display: block;
		width: 50rem;
		height: 50rem;
		border-radius: 50%;
		border: 5rem solid black;
		position: absolute;
		left: 223rem;
		top: 63rem;
	}
	&__Buster2 {
		background: black;
		display: block;
		width: 100rem;
		height: 5rem;
		position: absolute;
		left: 198rem;
		top: 156rem;
		transform: rotate(90deg);
	}
	&__Buster3 {
		background: black;
		display: block;
		width: 60rem;
		height: 5rem;
		position: absolute;
		left: 203rem;
		top: 142rem;
		transform: rotate(120deg);
	}
	&__Buster4 {
		background: black;
		display: block;
		width: 60rem;
		height: 5rem;
		position: absolute;
		left: 233rem;
		top: 142rem;
		transform: rotate(240deg);
	}
	&__Buster5 {
		background: black;
		display: block;
		width: 70rem;
		height: 5rem;
		position: absolute;
		left: 195rem;
		top: 231rem;
		transform: rotate(120deg);
	}
	&__Buster6 {
		background: black;
		display: block;
		width: 70rem;
		height: 5rem;
		position: absolute;
		left: 231rem;
		top: 231rem;
		transform: rotate(240deg);
	}

	&__title {
		text-align: center;
	}
}

.keyboard-container {
	background: antiquewhite;
    width: 60%;
    display: grid;
    align-items: center;
	justify-content: center;
    text-align: center;
}

.display {

}

.question {

}

.guesses {

}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    align-items: center;
    justify-content: center;
	width: 420rem;

	&__btn {
		width: 40rem;
		height: 40rem;
		border-radius: 15%;
		color: white;
		background: rgb(49, 51, 56);
		border-color: transparent;
		&:hover {
			color: rgb(241, 196, 15);
			cursor: pointer;
		}
	}
}