:root {
  font-size: 1px;
}

body {
  font-size: 16rem;
  padding-top: 2%;
  background: antiquewhite;
}

html {
  scroll-behavior: smooth;
}
@media (max-width: 1440px) {
  html {
    scroll-behavior: smooth;
  }
}
@media (max-width: 768px) {
  html {
    scroll-behavior: smooth;
  }
}
@media (max-width: 360px) {
  html {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  list-style: none;
  text-decoration: none;
  transition: 0.3s;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1390rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1100px) {
  .container {
    display: grid;
    align-items: center;
    justify-content: center;
  }
}

.modal-win {
  background: url(../assets/billy.png) 50%/cover no-repeat;
  position: absolute;
  width: 500px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.modal-lose {
  background: url(../assets/van.jpg) 50%/cover no-repeat;
  position: absolute;
  width: 500px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hangman-container {
  width: 40%;
  display: grid;
  align-content: space-between;
  justify-content: center;
}
@media (max-width: 1100px) {
  .hangman-container {
    width: auto;
  }
}
@media (max-width: 430px) {
  .hangman-container {
    width: 360rem;
  }
}

.hangman {
  position: relative;
  height: 385rem;
}
.hangman__gallows1 {
  width: 65rem;
  display: block;
  height: 5rem;
  background: black;
  transform: rotate(270deg);
  position: absolute;
  top: -3rem;
  left: 183rem;
  transform-origin: right;
}
.hangman__gallows2 {
  width: 85rem;
  display: block;
  height: 5rem;
  background: black;
  transform: rotate(135deg);
  position: absolute;
  left: 60px;
  transform-origin: left;
}
.hangman__gallows3 {
  width: 250rem;
  display: block;
  height: 5rem;
  background: black;
}
.hangman__gallows4 {
  width: 383rem;
  display: block;
  height: 5rem;
  background: black;
  transform: rotate(270deg);
  position: absolute;
  bottom: 0;
  transform-origin: left;
}
.hangman__gallows5 {
  width: 400rem;
  display: block;
  height: 5rem;
  position: absolute;
  background: black;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 430px) {
  .hangman__gallows5 {
    width: 313rem;
    left: 154rem;
  }
}
.hangman__Buster1_hidden {
  background: transparent;
  display: block;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  border: 5rem solid transparent;
  position: absolute;
  left: 223rem;
  top: 63rem;
}
.hangman__Buster2_hidden {
  background: transparent;
  display: block;
  width: 100rem;
  height: 5rem;
  position: absolute;
  left: 198rem;
  top: 156rem;
  transform: rotate(90deg);
}
.hangman__Buster3_hidden {
  background: transparent;
  display: block;
  width: 60rem;
  height: 5rem;
  position: absolute;
  left: 203rem;
  top: 142rem;
  transform: rotate(120deg);
}
.hangman__Buster4_hidden {
  background: transparent;
  display: block;
  width: 60rem;
  height: 5rem;
  position: absolute;
  left: 233rem;
  top: 142rem;
  transform: rotate(240deg);
}
.hangman__Buster5_hidden {
  background: transparent;
  display: block;
  width: 70rem;
  height: 5rem;
  position: absolute;
  left: 195rem;
  top: 231rem;
  transform: rotate(120deg);
}
.hangman__Buster6_hidden {
  background: transparent;
  display: block;
  width: 70rem;
  height: 5rem;
  position: absolute;
  left: 231rem;
  top: 231rem;
  transform: rotate(240deg);
}
.hangman__Buster_active {
  background: black;
}
.hangman__Buster1_active {
  background: transparent;
  border: 5rem solid black;
}
.hangman__title {
  text-align: center;
}
@media (max-width: 430px) {
  .hangman__title {
    font-size: 26rem;
  }
}
.hangman__span {
  text-decoration: line-through;
  text-decoration-color: orangered;
}

.keyboard-container {
  width: 60%;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (max-width: 1100px) {
  .keyboard-container {
    min-height: 450rem;
    width: auto;
  }
}
@media (max-width: 430px) {
  .keyboard-container {
    width: 360rem;
  }
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9rem;
}
.display__letter-container_hidden {
  border-bottom: solid black;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.display__letter-container_active {
  border-bottom: solid transparent;
  color: black;
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  width: 420rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 430px) {
  .keyboard {
    width: auto;
    padding: 0 20rem;
  }
}
.keyboard__btn {
  width: 40rem;
  height: 40rem;
  border-radius: 15%;
  color: white;
  background: rgb(49, 51, 56);
  border-color: transparent;
}
.keyboard__btn:hover {
  color: rgb(241, 196, 15);
  cursor: pointer;
}
.keyboard__btn_inactive {
  background: tomato;
  color: rgb(241, 196, 15);
}
.keyboard__btn_inactive:hover {
  cursor: auto;
}/*# sourceMappingURL=style.css.map */